body {
    font: 11px 'Verdana';
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header, .sidebar, .content, .footer {
    position: relative;
    padding: 0px;
    margin: 0px;/* Поля */
}

.content {
  margin: 15px;
}

.footer{
    margin-top: 5px;
    text-align: center;
    color: #3b2845;
    font-size: 10px;
}

.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-align:left;
    width:100%;
    z-index:99999999999999;
}


#title{
    margin:18px;
    text-align:center;
    font-size:10px;
    letter-spacing:1px;
    font-weight:bold;
    z-index:9999999999;
    color:#6b6b6b;
}

.login {
    position: absolute;
    right: 0;
    float: right;
    margin:18px;
    text-align:center;
    font-size:10px;
    letter-spacing:1px;
    font-weight:bold;
    z-index:9999999999;
}

.login a {
      color:#6b6b6b;
      padding:10px;
}

#ddmenu {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #3b2845;
  white-space: nowrap;
  display: -webkit-flex;
  display: flex;
}


#ddmenu li {
  display: block;
  position: relative;
  float: left;
  background:#fff;
  font-size:10px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
  text-transform:uppercase;
}

#ddmenu li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #3b2845;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
    #ddmenu li:hover > a { color: #fff; background: #3b2845; }

#ddmenu ul {
  position: absolute;
  top: 100%;
  background: #fff;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
}

#ddmenu ul li {
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
}

#ddmenu ul li a {
  display: block;
  width: 100%;
  padding: 6px 7px;
  line-height: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul ul {
    display: none;
    top: 0;
    left: 100%;
}
#ddmenu ul li a:hover {
  background: #3b2845;
}


table {
    background-color: #fff;
    table-layout: auto;
    text-align:center;
    margin-top: 2%;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}

table tr {
  height: 50px;
  max-height: 50px;
}

thead {
  margin: 30px;
  padding: 20px;
  text-align:center;
  font-size:10pt;
  font-weight:bold;
  color:#999999;
}

thead tr {
  height: 60px;
  max-height: 90px;
}

thead tr:first-child {
  background-color: #bfbabf;
  font-size: 12pt;
  color:#3c3c3c;
}

thead td:first-child {
  background-color: #ffffff;
}

table td {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    width: 10%;
}

table td img {
    height: 150px;
    margin: 10px;
}

tbody td:first-child
{
  font-size:11pt;
  max-width: 10%;
}

tbody tr:nth-child(odd){background-color: #e6e6e6;}

#historyContent{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border: 1px solid #2a2a2a;
}
#productList{
    width:80%;
    left:10%;
    border-radius: 7px;
}
.productList .photo,.title,.amount,.price,.addToCart{
    display: inline-block;
}
.productList .photo img{
    width: 70px;
    height: 70px;
    border: 1px solid #cbd0d8;
    border-radius: 5px;
}
.productList .product{
    min-height: 120px;
    padding: 10px;
}
.productList .title a{
    text-decoration: none;
    color: #000000;
}

.productList .price{
    float: right;
    margin-right: 10px;
    font-size: 24px;
}
.productList .amount{
    clear:right;
    float:right;
    margin-top: 10px;
}
.productList .product{
    border-bottom: 1px solid #cbd0d8;
}
.productList .addToCart, .addToCompare{
    float:right;
    margin: 5px;
}
.productList .addToCart img{
    width: 25px;
    height: 25px;
}
.productList .addToCompare img{
    width: 25px;
    height: 25px;
}
.productList .reviews img{
    width: 20px;
    height: 20px;
}
.productList .reviews{
    margin-left: 5%;
}
.productList .reviews a{
    font-size: 10px;
    text-decoration: none;
    color: #000000;
}
#productsPager{
    width:80%;
    left:10%;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
    color: #000000;
}
.btn:hover{
    color: #000000;
}
.product-search{
    width: 80%;
    left: 10%;
    position: relative;
    margin: 20px;
}
.product-search input{
    width: 95%;
    height: 40px;
    border-radius: 6px;
    border: 1px;
    box-shadow: none;
    outline: none !important;
}

.inline {
    display: inline-block;
    margin:10px;
}

#productBlock {
    width:80%;
    left:10%;
    border-radius: 7px;
}

.productBlock .product{
    min-height: 120px;
    padding: 10px;
    position: relative;
}

.productBlock .photo{
    max-height: 330px;
    width: 30%;
    overflow: hidden;
}

.productBlock .photo img{
    width: 300px;
    height: 300px;
    border: 1px solid #cbd0d8;
    border-radius: 5px;
}

.productBlock .summary{
    width: 50%;
    position: absolute;
    overflow: hidden;
}

.productBlock .summary .price{
  font-size: 25px;
  text-decoration: none;
  color: #6c6c6c;
}

.productBlock .summary .prod{
  font-size: 22px;
  text-decoration: none;
  color: #3b3b3b;
}

.productBlock .summary .desc{
  text-decoration: none;
  color: #3b3b3b;
  max-height: 160px;
  overflow: auto;
}


.productBlock .info{
    width: 100%;
}

.productBlock .addToCart, .addToCompareBlock{
    margin: 5px;
    float: left;
}

.productBlock .addToCart img{
    width: 25px;
    height: 25px;
}

.productBlock .addToCompareBlock img{
    width: 25px;
    height: 25px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.breadcrumb {
    background-color: transparent;
}
.breadcrumb>.active {
    color: #3b2845;
}
.testinggit{
    color: #133700;
}

.shopping-cart-products{
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 7px;
    border: 1px solid #b1b1b1;!important;
    padding: 10px;
}
.shopping-cart-products .product{
    border: 1px solid #fff;!important;
}

.shopping-cart-products .product-amount{
    display: inline;
    position: relative;
    left: 15%;
}
.shopping-cart-products .title{
    width: 500px;
    overflow: hidden;
  }

#emptyProductCart p {
     margin: 25px;
 }

 .compare-products{
     position: relative;
     margin: auto;
     width: 80%;
 }

#emptyCompare p {
    margin: 25px;
    left: 25%;
}

.not-allowed-notice {
  background: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 2px;
  width: 150px;
}
.shopping-cart-products{
    background-color: #FFFFFF;
}
.shopping-cart-products .result-sum{
    font-size: 24px;
    text-align: center;
}
.order-form{
    width: 30%;
    position: relative;
    left: 30%;
    font-size: 24px;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #b1b1b1;!important;
    padding: 10px;
}
.order-result{
    border-top: 1px solid #000000;
}
#boxes .window{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:99999;
    padding:20px;
    text-align: center;
    font-size: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
#boxes #dialog{
    width:1800px;
    height:450px;
    padding:10px;
    background-color:#ffffff;
}
.close{
    position: absolute;
    right: 15px;
    bottom: 10px;
}
